.header {
    background: $off-black;
    color: white;
    // space between header and things bellow it
    margin-bottom: $m-size; // 48 pixels
    // Space between elements inside header
    padding: $m-size 0
}

// BEM block element modifier
// getbem.com good for learning name conventions
.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
}